{{- range .Values.namespaces }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: infrahub-team-access
  namespace: {{ .name }}
subjects:
  - kind: Group
    name: {{ .teamId | quote }}
    apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: edit
  apiGroup: rbac.authorization.k8s.io
---
{{- end }}
